body {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-image: url("./Assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(204, 195, 195, 0.3);
    background-blend-mode: overlay;
}

.content-container {
    background-color: #E5DAD8;
    border-radius: 15px;
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 58px;
    padding: 20px;
    margin: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.detils-container {
    background-color: #D09594;
    padding-bottom: 30px;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center;
    margin: 20px 0;
}

.details-btn {
    height: 12%;
    width: 70%;
    margin: 2%;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
}

.view-details{
    background-color: #E5DAD8;
    border-radius: 15px;
    height: 500px;
    width: 100%;
    padding: 20px;
    margin: 33px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.view-results{
    background-color: #ebd0cc;
    border-radius: 15px;
    height: max-content;
    width: max-content;
    margin: 160px 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.search-bar {
    justify-content: center;
    gap: 10px;
    width: 100%;
}

input[type="text"] {
    width: 60%;
    height: 35px;
    padding-left: 10px;
    border: 2px solid #646464;
    border-radius: 15px;
    box-sizing: border-box;
    margin-right: 15px;
}

#searchBtn {
    width: 100px;
    height: 35px;
    background-color: #D09594;
    padding: 0 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

#searchBtn:hover {
    background-color: #cf6f6e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #080808;
    padding: 12px;
    text-align: center;
}

table th {
    background-color: #D09594;
    color: rgb(7, 7, 7);
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td {
    font-size: medium;
    color: #333;
}

.update-members {
    display: flex;
    flex-direction: column;
}

.update-members label {
    font-weight: bold;
    text-align: left;
}

.update-members input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    cursor: pointer;
    margin-bottom: 5px;
    color: #ffffff;
}

button[type="submit"] {
    background-color: #22c20d;
}
form button#closeModal {
    background-color: #dc3545;
}

.details-container {
    width: 400px;
    height: max-content;
    background-color: #cf6f6e;
    padding: 20px;
    text-align: center;
    margin: 33px;
}

table button {
    width: 75px;
    padding: 5px 10px;
    font-size: medium;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: white;
    border: 1px solid;
    margin: 0px 10px;
}

/* Update Button */
.update-btn {
    background-color: #008080;
    border-color: navy;
}
.update-btn:hover {
    background-color: blue;
}

/* Delete Button */
.delete-btn {
    background-color: red;
    border-color: rgb(128, 0, 0);
}
.delete-btn:hover {
    background-color: maroon;
}

/* Return Button */
.return-book-btn {
    background-color: green;
    border-color: darkgreen;
}
.return-book-btn:hover {
    background-color: limegreen;
}

/* Lost Button */
.lost-book-btn {
    background-color: orange;
    border-color: darkorange;
}
.lost-book-btn:hover {
    background-color: gold;
}

/* Replace Button */
.replace-btn {
    width: 90px;
    background-color: rgb(3, 205, 255);
    border-color: rgb(2, 77, 100);
}
.replace-btn:hover {
    background-color: rgb(106, 181, 204);
}

/* Pay Button */
.pay-btn {
    width: 90px;
    background-color: rgb(255, 0, 200);
    border-color: rgb(122, 4, 97);
}
.pay-btn:hover {
    background-color: rgb(212, 84, 122);
}

.no-results {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

.approved-btn {
    width: 90px;
    background-color: rgb(7, 126, 90);
    border: 1px solid rgb(0, 100, 78);
}

.approved-btn:hover {
    background-color: rgb(32, 223, 165);
}

.rejected-btn {
    width: 90px;
    background-color: rgb(211, 5, 39);
    border: 1px solid rgb(153, 3, 28);
}

.rejected-btn:hover {
    background-color: rgb(230, 28, 61);
}